a {
  color: #8096a4;
  text-decoration: none;

  &:hover {
    color: #8096a480;
    text-decoration: none;
  }
}

html {
  font-size: 10px;

  @media only screen and (min-width: 576px) {
    font-size: 13px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media only screen and (min-width: 996px) {
    font-size: 16px;
  }

  @media only scree and (min-width: 1200px) {
    font-size: 18px;
  }
}

body {
  background-color: $bg-theme;
}

[class~=text-light-grey] {
  color: $light-grey;
}

[class~=text-light-pink] {
  color: $light-pink;
}

[class~=text-light-blue] {
  color: $light-blue;
}

[class~=text-grey] {
  color: $grey;
}

.show {
  opacity: 1;
  visibility: visible;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

[class~=fadeup--show] {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out, transform .25s ease-in-out;
}

[class~=fadeup--hide] {
  transform: translateY(1.5rem);
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out, transform .25s ease-in-out;
}