$light-grey: #8096a4;
$dark-grey: #394047;

$light-pink: #ff42a7;
$dark-pink: #ff1493;

$light-blue: #8096a4;

$crimson: rgb(224, 38, 75);


// Contemporary and Bold
$bg-theme: #e3e2df;
$grey: #c5c6c7;
$brown: #edc7b7;
$light-white: #eee2dc;
$dark-grey: #1f2833;
$teal: #45a29e;
$cyan: #66fcf1;
$dark-cyan: #116466;
$red: #ac3b61;
$pale-red: #edc7b7;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1500px
);

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';