$light-grey: #8096a4;
$dark-grey: #394047;

$light-pink: #ff42a7;
$dark-pink: #ff1493;

$light-blue: #8096a4;

$crimson: rgb(224, 38, 75);


// Contemporary and Bold
$bg-theme: #e3e2df;
$grey: #c5c6c7;
$dark-grey: #1f2833;
$brown: #edc7b7;
$light-white: #eee2dc;
$teal: #45a29e;
$cyan: #66fcf1;
$light-cyan: #85adcb;
$dark-cyan: #116466;
$red: #ac3b61;
$pale-red: #edc7b7;

$theme-list: (
  grey $grey,
  light-grey $light-grey,
  dark-grey $dark-grey,
  brown $brown,
  light-white $light-white,
  teal $teal,
  cyan $cyan,
  light-cyan $light-cyan,
  dark-cyan $dark-cyan,
  red $red,
  pale-red $pale-red,
  light-blue $light-blue
);

@each $key, $value in $theme-list {
  [class~=text-#{$key}] {
    color: $value;
  }
}

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1500px
);

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';